### IDE
.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/


### Work In Progress
*.wip
*.wip.*


### Libraries
venv/
node_modules/

### Logs
#logs/


### Data
#data/
data/digit-recognizer.zip
data/images/
data/images/models/
data/images/test/
data/images/train/


