# IDE
.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/


# Work In Progress
*.wip
*.wip.*


# Libraries
venv/
node_modules/

# Data
#data/
data/images/
#data/images/test/
#data/images/train/
#!data/images/models/


