pip-tools
pip-review

kaggle
numpy
pandas
jupyterlab
sklearn
pydot

tensorflow==2.1.0      # v2.1.0 works with CUDA 10.1 | v2.0.0 works with CUDA 10.0 | https://www.tensorflow.org/install/source#tested_build_configurations
tensorflow-gpu==2.1.0  # tensorflow==2.1.0 emits depreciation warnings without numpy<1.17
# tf-nightly-gpu       # works with numpy==1.19
# tensorflow-cpu       # breaks CUDA | fix: rm ~/.local; pip install -r requirements.in
# numpy<1.17           # <1.17 prevents tensorflow-gpu <=2.1.0 warnings


### 1_fastai-transfer-learning.ipynb dependencies
# fastai
# GPUtil

### Keras backends - src/examples/keras/keras_example_mnist_cnn.py
# keras
# cntk         # sudo apt-get install openmpi-bin
# cntk-gpu     # ImportError: libmpi_cxx.so.1
# theano>=1.0
## pygpu       # theano GPU support - requires anaconda
## nose        # theano required by: import theano.sandbox.cuda
