pip-tools
pip-review

numpy
pandas
jupyterlab
kaggle

fastai
sklearn
keras
tensorflow
tensorflow-gpu    # requires   numpy<1.17
# tf-nightly-gpu  # works with numpy==1.19
# tensorflow-cpu  # breaks CUDA | fix: rm ~/.local; pip install -r requirements.in
GPUtil


# Dependency fixes
testresources
tensorflow==2.1.0
numpy<1.17
